<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="home">Home</a>
            <span class="breadcrumb-item active">Shop</span>
        </div>
    </div>
    
    <section class="static about-sec">
        <div class="container">
            <h2>Giỏ hàng</h2>
            
                
                    {{#each results}}
                    <div class="row-12">
                    <div class="col-3">
                        <div class="item">
                            <img src="{{this.img}}" alt="img" height="100" width="100">
                            <h3>{{this.name}}</h3>
                            <h6><span class="price">Giá: {{this.price}}</span></h6>
                             <div class="col-8">
                            <h4 >Số lượng </h4>
                             
                           
                            <input class ="bootstrap-touchspin" id="{{this.id}}" type="text" value="{{this.number}}" name="cartItem_{{this.id}}">
                              </div>

                              </div>
                        </div>
                   </div>
                 {{/each}}
                  
                   </div>
                   <div id = "totalMoney">
                   <p>Giá tổng cộng: {{totalPrice}}</p>
                   </div>
                   </section>
                       <div class="row">
                    <div class="col-lg-8">
                        </div>
                        <div class = "row">
                            <a href = "/buy/{{totalPrice}}"><button class="myButton">Buy</button></a>
                        </div>
                        </div> 
                  
        
    