<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="home">Home</a>
            <span class="breadcrumb-item active">Shop</span>
        </div>
    </div>
    
    <section class="static about-sec">
        <div class="container">
            <h2>Giỏ hàng</h2>
            
                
                    {{#each results}}
                  
                        <div class="row">
                            <div class="col-sm-3">
                        
                                <img src="{{this.img}}" alt="img" height="100" width="100">
                                <h3>{{this.name}}</h3>
                                <p><span class="price">Giá: {{this.price}}</span></p>
                        
                         </div>
                            <div class="col-sm-2">
                                <h4 >Số lượng </h4>
                            </div>
                           <div class = "col-sm-3">
                            <input class ="bootstrap-touchspin" width="5"id="{{this.id}}" type="text" value="{{this.number}}" name="cartItem_{{this.id}}">
                        </div>
                        <div class = "col-sm-2">
                           <button class = "myButton"name = "removeButton_{{this.id}}"id ="{{this.id}}" >Xóa</button>
                        </div>
                        </div>
                  
                 {{/each}}
                  
                  
                   
                  
                   
                   </section>
                     <div class="row">
                        <div class="col-sm-7">
                        
                        </div>
                        <div class = "col-sm-4">
                             <h3><strong id = "totalMoney" >Giá tổng cộng: {{totalPrice}}</strong></h3>
                           
                        </div> 
                        </div>
                       <div class="row">
                    <div class="col-sm-8"></div>
                        <div class = "col-sm-4">
                            <a href = "/buy/{{totalPrice}}"><button class="myButton">Mua</button></a>
                        </div>
                        </div> 
                  
         </div>
    